<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kopi Tiga Sore</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet" />
    <link href="fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/tooplate-chilling-cafe.css" rel="stylesheet" />

  </head>
  <body>
    <div class="tm-container">
      <div class="tm-text-white tm-page-header-container">
        <i class="fas fa-mug-hot fa-2x tm-page-icon"></i>
        <h1 class="tm-page-header">Kopi Tiga Sore</h1>
      </div>
      <div class="tm-main-content">
        <div id="tm-intro-img"></div>
        <!-- Coffee Menu -->
        <section class="tm-section">
          <h2 class="tm-section-header">Coffee Menu</h2>
          <div class="tm-responsive-table">
            <table>
              <tr class="tm-tr-header">
                <th>&nbsp;</th>
                <th>Hot</th>
                <th>Iced</th>
                <th>Blended</th>
              </tr>
              <tr>
                <td class="tm-text-left">Americano</td>
                <td>34k</td>
                <td>37k</td>
                <td>39k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Cuppucino</td>
                <td>44k</td>
                <td>49k</td>
                <td>52k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Fresh Latte</td>
                <td>44k</td>
                <td>49k</td>
                <td>52k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Mocha</td>
                <td>57k</td>
                <td>62k</td>
                <td>65k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Espresso</td>
                <td>34k</td>
                <td>37k</td>
                <td>-</td>
              </tr>
              <tr>
                <td class="tm-text-left">Black Coffee</td>
                <td>21k</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td class="tm-text-left">Double Shot Expresso</td>
                <td>39k</td>
                <td>39k</td>
                <td>-</td>
              </tr>
            </table>
          </div>
        </section>

        <!-- Tea Menu -->
        <section class="tm-section">
          <h2 class="tm-section-header">Tea Menu</h2>
          <div class="tm-responsive-table">
            <table>
              <tr class="tm-tr-header">
                <th>&nbsp;</th>
                <th>Hot</th>
                <th>Iced</th>
                <th>Addon</th>
              </tr>
              <tr>
                <td class="tm-text-left">Pure White Milk</td>
                <td>25k</td>
                <td>29k</td>
                <td>-</td>
              </tr>
              <tr>
                <td class="tm-text-left">Thailand Tea</td>
                <td>17k</td>
                <td>20k</td>
                <td>25k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Taiwan Tea</td>
                <td>17k</td>
                <td>20k</td>
                <td>25k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Bubble Tea</td>
                <td>22k</td>
                <td>26k</td>
                <td>-</td>
              </tr>
              <tr>
                <td class="tm-text-left">Mixed Fruit Tea</td>
                <td>20k</td>
                <td>24k</td>
                <td>28k</td>
              </tr>
              <tr>
                <td class="tm-text-left">Original Tea</td>
                <td>15k</td>
                <td>18k</td>
                <td>-</td>
              </tr>
            </table>
          </div>
        </section>

        <!-- Special Items -->
        <section class="tm-section">
          <h2 class="tm-section-header">Special Items</h2>
          <div class="tm-special-items">
            <figure class="tm-special-item">
              <img src="img/chilling-cafe-11.jpg" alt="Image" class="tm-special-item-img" />
              <figcaption>
                <span class="tm-item-name">Soft Deli Cup</span>
                <span class="tm-item-price">49k</span>
              </figcaption>
            </figure>
            <figure class="tm-special-item">
              <img src="img/chilling-cafe-12.jpg" alt="Image" class="tm-special-item-img" />
              <figcaption>
                <span class="tm-item-name">Coffee Art</span>
                <span class="tm-item-price">54k</span>
              </figcaption>
            </figure>
            <figure class="tm-special-item">
              <img src="img/chilling-cafe-13.jpg" alt="Image" class="tm-special-item-img" />
              <figcaption>
                <span class="tm-item-name">Speciality Tea</span>
                <span class="tm-item-price">45k</span>
              </figcaption>
            </figure>
          </div>
        </section>
        <hr />
        <!-- About our cafe -->
        <section class="tm-section tm-section-small">
          <h2 class="tm-section-header">About our cafe</h2>
          <p>
           Kopi Tiga Sore is a coffee shop spread throughout Indonesia. Kopi Tiga Sore is the largest coffee shop in Indonesia, with 350 stores in 34 countries, including 50 in the Jakarta, 47 in Jember, 36 in Malang, 18 in the Surabaya, 14 in Bandung, 29 in Tangerang, 24 in Jogyakarta, 18 in Padang, 39 in the Lombok, 19 in Palembang and 33 in Bali.
          </p>
          <p class="tm-mb-0">
           Kopi Tiga Sore sells hot and cold drinks, coffee beans, salads, hot and cold sandwiches, sweet pastries, snacks, and items such as glasses and tumblers.
          </p>
        </section>
        <hr />
        <!-- Talk to us -->
        <section class="tm-section tm-section-small">
          <h2 class="tm-section-header">Talk to us</h2>
          <p class="tm-mb-0">
            Reach us via
            <a href="mailto:KopiTigaSore@gmail.com" class="tm-contact-link">Email</a>
            or follow us on social icons below. Thank you.
          </p>
          <div class="tm-social-icons">
            <div class="tm-social-link-container">
              <a href="https://www.facebook.com/kopitigasore" class="tm-social-link">
                <i class="fab fa-facebook"></i>
              </a>
            </div>
            <div class="tm-social-link-container">
              <a href="https://www.instagram.com/kopitigasore/" class="tm-social-link">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
      <footer>
        <p class="tm-text-white tm-footer-text">
          Copyright &copy; 2020 Company Name 
          . Design:
          <a href="https://www.tooplate.com" class="tm-footer-link">Tooplate</a>
        </p>
      </footer>
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script>
      $(function() {
        // Adjust intro image height based on width.
        $(window).resize(function() {
          var img = $("#tm-intro-img");
          var imgWidth = img.width();

          // 640x425 ratio
          var imgHeight = (imgWidth * 425) / 640;

          if (imgHeight < 300) {
            imgHeight = 300;
          }

          img.css("min-height", imgHeight + "px");
        });
      });
    </script>
  </body>
</html>